<ion-header-bar class="bar-dark">
    <h1 class="title">SIGN UP</h1>
    <!-- timer here -->
</ion-header-bar>
<ion-content>
    <form name="vm.signupForm" class="list list-inset">
      <label class="item item-input" ng-class="{'txtFieldError': vm.signupForm.emailAdd.$invalid }">
        <input name="emailAdd" ng-model="vm.authData.emailAdd" type="email" placeholder="Email Address" required>
      </label>
      <label class="item item-input" ng-class="{'txtFieldError': vm.authData.password != vm.authData.confirmPassword || vm.signupForm.password.$invalid}">
        <input name="password" ng-model="vm.authData.password" type="password" placeholder="Password" required>
      </label>
      <label class="item item-input" ng-class="{'txtFieldError': vm.authData.password != vm.authData.confirmPassword || vm.signupForm.confirmPassword.$invalid}">
        <input name="confirmPassword" ng-model="vm.authData.confirmPassword" type="password" placeholder="Confirm Password" required>
      </label>
      <button ng-disabled="(vm.signupForm.emailAdd.$invalid || (vm.authData.password != vm.authData.confirmPassword || vm.signupForm.password.$invalid) || (vm.authData.password != vm.authData.confirmPassword || vm.signupForm.confirmPassword.$invalid))" class="button button-full button-positive" ng-click="vm.signup()">
        Sign Up
      </button>
    </form>
</ion-content>

