@font-face {
	font-family: 'hervoice-logo';
	src:url('fonts/hervoice-logo.eot?-2kng8v');
	src:url('fonts/hervoice-logo.eot?#iefix-2kng8v') format('embedded-opentype'),
		url('fonts/hervoice-logo.ttf?-2kng8v') format('truetype'),
		url('fonts/hervoice-logo.woff?-2kng8v') format('woff'),
		url('fonts/hervoice-logo.svg?-2kng8v#hervoice-logo') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'hervoice-logo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-addstory:before {
	content: "\e600";
}
.icon-camera:before {
	content: "\e601";
}
.icon-close:before {
	content: "\e602";
}
.icon-email:before {
	content: "\e603";
}
.icon-fb:before {
	content: "\e604";
}
.icon-gplus:before {
	content: "\e605";
}
.icon-hervoice:before {
	content: "\e606";
}
.icon-home:before {
	content: "\e607";
}
.icon-mic:before {
	content: "\e608";
}
.icon-next:before {
	content: "\e609";
}
.icon-nostory:before {
	content: "\e60a";
}
.icon-notification:before {
	content: "\e60b";
}
.icon-popular:before {
	content: "\e60c";
}
.icon-profile:before {
	content: "\e60d";
}
.icon-settings:before {
	content: "\e60e";
}
.icon-textinput:before {
	content: "\e60f";
}
.icon-tumblr:before {
	content: "\e610";
}
.icon-twitter:before {
	content: "\e611";
}
.icon-voiceinput:before {
	content: "\e612";
}
