@font-face {
	font-family: 'hervoice-logo';
	src:url('fonts/hervoice-logo.eot?-gd68q8');
	src:url('fonts/hervoice-logo.eot?#iefix-gd68q8') format('embedded-opentype'),
		url('fonts/hervoice-logo.ttf?-gd68q8') format('truetype'),
		url('fonts/hervoice-logo.woff?-gd68q8') format('woff'),
		url('fonts/hervoice-logo.svg?-gd68q8#hervoice-logo') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'hervoice-logo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-hervoice:before {
	content: "\e600";
}
.icon-email:before {
	content: "\e611";
}
.icon-fb:before {
	content: "\e612";
}
