<ion-header-bar class="bar-dark">
    <h1 class="title">LOGIN</h1>
    <!-- timer here -->
</ion-header-bar>
<ion-content>
    <div ng-hide="vm.authData.facebook" class="card" ng-click="vm.fbLogin()">
      <button class="item">
      Log In with Facebook
      </button>
    </div>
    <div class="card" ng-show="vm.authData.facebook">
      <div class="item item-text-wrap">
        Hello {{vm.authData.facebook.displayName}}!
      </div>
    </div>

    <div class="card">
        <button class="item" ng-click="vm.goToSignUpPage()">
          Sign Up
        </button>
    </div>
</ion-content>
