<ion-header-bar class="bar-dark">
    <h1 class="title">Test</h1>
    <!-- timer here -->
</ion-header-bar>
<ion-content class="clueContainer">
    <div ng-repeat="result in vm.resultArray" class="chosenNumberContainer item item-icon-right flexAcross">
        <span class="inputNumber"> {{result.inputNumber}}</span>
        <div class="iconContainer icon">
            <div class="leftContainer">
                {{result.correctNumberNWrongPlaceCount}}
                <i class="ion-alert-circled"></i>
            </div>
            <div class="rightContainer">
                {{result.correctNumberNPlaceCount}}
                <i class="ion-checkmark-round"></i>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer-bar class="btmContainer flexDown">
    <div class="inputNumberContainer flexAcross">
        <div on-touch="vm.holdIncreaseNo('one')" on-release="vm.stopIncrease()">{{vm.numberInput.one}}</div>
        <div on-touch="vm.holdIncreaseNo('two')" on-release="vm.stopIncrease()">{{vm.numberInput.two}}</div>
        <div on-touch="vm.holdIncreaseNo('three')" on-release="vm.stopIncrease()">{{vm.numberInput.three}}</div>
        <div on-touch="vm.holdIncreaseNo('four')" on-release="vm.stopIncrease()">{{vm.numberInput.four}}</div>
    </div>
    <div class="flexAcross">
        <button class="button button-block button-royal" ng-click="vm.showAnswer()">
            answer
        </button>
        <button class="button button-block button-positive" ng-click="vm.compareNumber()">
            compare
        </button>
    </div>
</ion-footer-bar>
