.flexAcross {
    display: flex;
    flex-flow: row nowrap;
}

.flexDown {
    display: flex;
    flex-flow: column nowrap;
}

.bgColor {
    background: -webkit-linear-gradient(#ef6d3b, #d83159);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ef6d3b, #d83159);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ef6d3b, #d83159);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ef6d3b, #d83159);
    /* Standard syntax */
}

.txtFieldError {
    color: #333;
}

.herVoiceLogo {
    font-size: 15em;
    background: -webkit-linear-gradient(#ef6d3b, #d83159);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ef6d3b, #d83159);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ef6d3b, #d83159);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ef6d3b, #d83159);
    /* Standard syntax */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.loginContainer {
    position: absolute;
    bottom: 1em;
    width: 100%;
    margin-bottom: 1em;
}

.loginContainer .fbLogin {
    background-color: #3b5998;
    width: 91%;
    margin: 1em 1em 0.25em 1em;
    color: white;
    font-size: 1.3em;
    text-align: left;
}

.loginContainer .fbLogin i {
    margin-right: 4em;
    margin-left: 0.6em;
}

.loginContainer .emailLogin {
    background-color: #00dfd7;
    width: 91%;
    margin: 0.25em 1em 1em 1em;
    color: #333;
    font-size: 1.3em;
    text-align: left;
}

.loginContainer .emailLogin i {
    color: #333;
    margin-right: 2em;
    margin-right: 4.3em;
}

.loginContainer .miniContainer {
    text-align: center;
    margin-left: 1.3em;
    margin-top: 0.5em;
}

.loginContainer .miniContainer .forgotPwd {
    text-transform: capitalize;
    color: white;
}

.loginContainer .miniContainer .separator {
    margin: 0 1em;
    color: white;
}

.loginContainer .miniContainer .signup {
    color: cyan;
    text-transform: capitalize;
}

.bgImage {
    background: url('../img/BG.png') no-repeat;
    background-size: cover;
}

.signupFormContainer {
    font-size: 0.1em;
}

.signupFormContainer div {
    width: 90%;
    margin-left: 1.2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 1.5em;
}

.signupFormContainer div > label {
    text-transform: capitalize;
    text-align: left;
    width: 50%;
    padding-top: 0.5em;
    font-size: 1.2em;
    color: white;
}

.signupFormContainer div > input {
    background: transparent;
    border: none;
    text-align: right;
    font-size: 1.7em;
    color: white;
    width: 50%;
}

.signupFormContainer .inputContainer {
    border-bottom: none;
    margin-bottom: 1.5em;
	margin-top: 0;
}

.createProfileBtn {
    color: #d83159;
    background-color: white;
    text-transform: uppercase;
    width: 90%;
    font-size: 2em;
    margin-left: 0.6em;
    margin-top: 0.3em;
    padding: 0.3em 0 0.5em 0;
}

.createProfileBtn:disabled {
    background-color: rgba(255, 255, 255, 0.5);
}

.signupFormContainer .halfBtn {
    color: #d83159;
    font-size: 1.5em;
    height: 2.5em;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
    height: 3em;
    text-align: center;
    text-transform: capitalize;
    padding-top: 0.9em;
}

.signupFormContainer .halfBtn.selected {
    background-color: white;
}

::-webkit-input-placeholder {
    padding-top: 0.3em;
}

:-moz-placeholder {
    /* Firefox 18- */
    padding-top: 0.3em;
}

::-moz-placeholder {
    /* Firefox 19+ */
    padding-top: 0.3em;
}

:-ms-input-placeholder {
    padding-top: 0.3em;
}


/* ======================================= Signup Form Container Hexagon image ======================================= */

.signupFormContainer .imgContainer {
    border-bottom: none;
    margin-left: 35%;
    margin-top: 2em;
}

.signupFormContainer .hexagon {
    margin-left: 1.2em;
    border-bottom: none;
    margin-top: 0;
    position: relative;
    width: 120px;
    height: 69.28px;
    margin: 34.64px 0;
    background-size: auto 138.5641px;
    background-position: center;
}

.signupFormContainer .hexTop,
.signupFormContainer .hexBottom {
    position: absolute;
    z-index: 1;
    width: 84.85px;
    height: 84.85px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 6.57px;
}


/*counter transform the bg image on the caps*/

.signupFormContainer .hexTop:after,
.signupFormContainer .hexBottom:after {
    content: "";
    position: absolute;
    width: 120.0000px;
    height: 69.2820323027551px;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-34.6410px);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-34.6410px);
    transform: rotate(45deg) scaleY(1.7321) translateY(-34.6410px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
}

.signupFormContainer .hexTop {
    top: -53.4264px;
}

.signupFormContainer .hexTop:after {
    background-position: center top;
}

.signupFormContainer .hexBottom {
    bottom: -42.4264px;
}

.signupFormContainer .hexBottom:after {
    background-position: center bottom;
}

.signupFormContainer .hexagon:after {
    content: "";
    position: absolute;
    top: 0.0000px;
    left: 0;
    width: 120.0000px;
    height: 69.2820px;
    z-index: 2;
    background: inherit;
}
/* ======================================= End Signup Form Container Hexagon image ======================================= */

/* ======================================= Profile Container Hexagon image ======================================= */
.profileTopContainer .imgContainer {
    border-bottom: none;
    margin-left: 8em;
    margin-top: 1.2em;
    margin-bottom: 1.5em;
}

.profileTopContainer .hexagon {
    margin-left: 1.2em;
    border-bottom: none;
    margin-top: 0;
    position: relative;
    width: 120px;
    height: 69.28px;
    margin: 34.64px 0;
    background-size: auto 138.5641px;
    background-position: center;
}

.profileTopContainer .hexTop,
.profileTopContainer .hexBottom {
    position: absolute;
    z-index: 1;
    width: 84.85px;
    height: 84.85px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 18.57px;
}


/*counter transform the bg image on the caps*/

.profileTopContainer .hexTop:after,
.profileTopContainer .hexBottom:after {
    content: "";
    position: absolute;
    width: 120.0000px;
    height: 69.2820323027551px;
    -webkit-transform: rotate(45deg) scaleY(1.7321) translateY(-34.6410px);
    -ms-transform: rotate(45deg) scaleY(1.7321) translateY(-34.6410px);
    transform: rotate(45deg) scaleY(1.7321) translateY(-34.6410px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
}

.profileTopContainer .hexTop {
    top: -43.4264px;
}

.profileTopContainer .hexTop:after {
    background-position: center top;
}

.profileTopContainer .hexBottom {
    bottom: -43.4264px;
}

.profileTopContainer .hexBottom:after {
    background-position: center bottom;
}

.profileTopContainer .hexagon:after {
    content: "";
    position: absolute;
    top: 0.0000px;
    left: 0;
    width: 120.0000px;
    height: 69.2820px;
    z-index: 2;
    background: inherit;
}
/* ======================================= End Profile Container Hexagon image ======================================= */

.profileFooter {
    background-color: #e3e3e3;
}

.profileTopContainer {
    height: 20em;
}

.profileTopContainer .topMidContainer {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.5em;
    color: white;
    margin: 0 0 1em 0;
}

.profileTopContainer .topBtmContainer {
    width: 100%;
    text-transform: capitalize;
    font-size: 1.5em;
    color: white;
    margin: 0 1em 1em 1em;
}

.profileTopContainer .storiesContainer {
    text-align: center;
    margin-right: 2em;
}

.profileTopContainer .followersContainer {
    text-align: center;
    margin-right: 1.5em;
}

.profileTopContainer .followingContainer {
    text-align: center;
}

.profileTopContainer .value {
    margin-bottom: 0.2em;
}

.profileBtmContainer .iconContainer {
    font-size: 6em;
    width: 100%;
    text-align: center;
    margin-top: 0.35em;
    margin-bottom: 0.2em;
}

.profileBtmContainer .noStoriesRecorded {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}

.profileFooter {

}

.profileFooter div {
    width: 20%;
    text-align: center;
}



.bar-custom {
    background-color: #d83159;
}

.bar-custom .backBtnSize {
    font-size: 2em;
    background-color: #d83159;
    border: none;
    color: white;
}

.bar-custom .title {
    color: white;
    font-size: 0.5em;
}

.inputContainer {
    margin: 0.5em 0.3em 0.3em 0.3em;
    font-size: 10em;
}

.inputContainer .txtInput {
    color: #8aa29e;
    margin-right: 0.05em;
}

.inputContainer .voiceInput {
    color: #3d5567;
}

.micInputContainer {
    margin: 1em 0.75em 0.75em 0.75em;
    font-size: 10em;
}

.titleInput {
    font-size: 2em;
}

.txtAreaContainer {
    font-size: 1.5em;
    margin: 1em;
    height: 18em;
}

.cameraContainer {
    position: absolute;
    bottom: 0.3em;
    font-size: 3em;
    color: #333;
    margin-left: 0.3em;
}

.imageContainer {
    height: 100px;
    width: 100px;
    margin-left: 1.5em;
}

.rightArrowContainer {
    font-size: 4em;
    color: red;
    margin-bottom: 0.45em;
    margin-left: 2.9em;
    transform: rotate( -180deg );
}

.btmContainer {
    position: absolute;
    bottom: 0;
    background-color: #d83159;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    color: white;
    text-transform: uppercase;
    padding: 1.25em 4.5em;
}

.btmContainer .icon-next {
    transform: rotate( -180deg );
    margin-left: 0.5em;
}

.shareVoiceContainer {
    font-size: 1.5em;
    margin: 1em 1em 0 4em;

}

.shareVoiceContainer .shareLbl{
    padding-top: 0.2em;
}


.shareVoiceContainer label {
    margin-left: 1em;
}

.socialContainer {
    background-color: #e3e3e3;
    padding: 1em;
    font-size: 1.5em;
    margin: 1em;
}

.socialContainer i {
    margin-right: 2em;
}

.fbSelected {
    color: #3b5998;
}

.twitterSelected {
    color: #55acee;
}

.googleSeleted {
    color: #d34836;
}

.tumblrSelected {
    color: #35465c;
}

.profileFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1.2em 0;
}

.profileFooter i {
    font-size: 2.5em;
}

.iconTainer {
    padding-top: 0.4em;
}

.profileFooter .icon-addstory {
    font-size: 3.3em;
}