.flexAcross {
    display: flex;
    flex-flow: row nowrap;
}

.flexDown {
    display: flex;
    flex-flow: column nowrap;
}

.bgColor {
	background: -webkit-linear-gradient(#ef6d3b, #d83159); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ef6d3b, #d83159); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#ef6d3b, #d83159); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#ef6d3b, #d83159); /* Standard syntax */
}

.txtFieldError {
	color: #333;
}

.herVoiceLogo {
	font-size: 10em;
	background: -webkit-linear-gradient(#ef6d3b, #d83159); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ef6d3b, #d83159); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#ef6d3b, #d83159); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#ef6d3b, #d83159); /* Standard syntax */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	margin-top: 0.3em;
}

.loginContainer {
	position: absolute;
	bottom: 1em;
	width: 100%;
	margin-bottom: 1em;
}

.loginContainer .fbLogin {
	background-color: #3b5998;
	width: 91%;
	margin: 1em 1em 0.25em 1em;
	color: white;
	font-size: 1.3em;
	text-align: left;
}

.loginContainer .fbLogin i {
	margin-right: 4em;
	margin-left: 0.6em;
}

.loginContainer .emailLogin {
	background-color: #00dfd7;
	width: 91%;
	margin: 0.25em 1em 1em 1em;
	color: #333;
	font-size: 1.3em;
	text-align: left;
}

.loginContainer .emailLogin i {
	color: #333;
	margin-right: 2em;
	margin-right: 4.3em;
}

.loginContainer .miniContainer {
	text-align: center;
	margin-left: 1.3em;
	margin-top: 0.5em;
}

.loginContainer .miniContainer .forgotPwd {
	text-transform: capitalize;
	color: white;
}

.loginContainer .miniContainer .separator {
	margin: 0 1em;
	color: white;
}

.loginContainer .miniContainer .signup {
	color: cyan;
	text-transform: capitalize;
}

.bgImage {
    background: url('../img/BG.png') no-repeat;
    background-size: cover;
}

.signupFormContainer {
	
}

.signupFormContainer div {
	width: 90%;
	margin-left: 1.2em;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	margin-top: 1.5em;
}

.signupFormContainer div > label {
	text-transform: capitalize;
	text-align: left;
	width: 50%;
	padding-top: 0.5em;
	font-size: 1.2em;
	color: white;
}

.signupFormContainer div > input {
	background: transparent;
    border: none;
    text-align: right;
    font-size: 1.7em;
    color: white;
    width: 50%;
}

.createProfileBtn {
	color: #d83159;
	background-color: white;
	text-transform: uppercase;
	width: 90%;
	font-size: 2em;
	margin-left: 0.6em;
	margin-top: 2em;
	padding: 0.3em 0 0.5em 0;
}

.createProfileBtn:disabled {
	background-color: rgba(255, 255, 255, 0.5);
}


.signupFormContainer .halfBtn {
	color: #d83159;
	font-size: 1.5em;
	height: 2.5em;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 0;
	height: 3em;
	text-align: center;
	text-transform: capitalize;
	padding-top: 0.9em;
}

.signupFormContainer .halfBtn.selected {
	background-color: white;
}

::-webkit-input-placeholder {
   padding-top: 0.3em;
}

:-moz-placeholder { /* Firefox 18- */
   padding-top: 0.3em;
}

::-moz-placeholder {  /* Firefox 19+ */
   padding-top: 0.3em;
}

:-ms-input-placeholder {  
   padding-top: 0.3em;
}